.app-hero {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  padding: 150px 0;
}

.layer {
  position: absolute;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0) 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}