.hero {
  background-image: url(https://images.unsplash.com/photo-1516675776559-e69f828f69e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}