.navigation-bar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #ffd162;
  height: 50px;
}

.navigation-list {
  grid-column: 3/11;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #272b29;
  }

  &:hover h3 {
    color: #fff;
  }
}

.team-logo {
  grid-column: 2/3;
  grid-row: 1;

  > img {
    position: absolute;
    top: 5px;
    width: auto;
    height: 90px;
  }
}
